@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
#url {
    font-family: monospace;
    font-size: 45px;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
    color: black;
}